---
layout: page
permalink: /tags/
title: Tags
---

<div id="archives">
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
        <div class="archive-group">
            {% capture tag_name %}{{ tag | first }}{% endcapture %}
            <div id="#{{ tag_name | slugize }}">
                {% assign tag_description = site.custom_tag_description[tag_name].description %}
                <h4 class="tag-head">
                    <span class="c-badge c-badge-big c-badge-info" name="{{ tag_name | slugize }}">{{ tag_name }}</span>
                    {% if tag_description %} | {{ tag_description }} {% endif %}
                </h4>
            </div>
            {% for post in site.tags[tag_name] %}
                <article class="archive-item c-indented-item">
                    <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
                </article>
            {% endfor %}
        </div>
    {% endfor %}
</div>
