---
layout: page
title: Tags
permalink: /tags/
---

{% assign tags = site.tags | sort %}
{% assign topics = '' | split: '' %}
{% assign methodologies = '' | split: '' %}
{% for tag in tags %}
    {% assign tag_name = tag | first %}
    {% comment %}
        To mutate the name string into an array element,
        split by an HTML entity we assume isn't present
        (in this case, the "Unit Separator").
    {% endcomment %}
    {% assign tag_element = tag_name | split: '&#x0001F' %}
    {% assign tag_config_name = tag_name | replace: " ", "_" %}
    {% if site.custom_methodologies contains tag_config_name %}
        {% assign methodologies = methodologies | concat: tag_element %}
    {% else %}
        {% assign topics = topics | concat: tag_element %}
    {% endif %}
{% endfor %}

<p>Categorized by type:</p>

<h2>Topics</h2>
{% for tag_name in topics %}
    {% include tag-entry.html tag_name=tag_name %}
{% endfor %}

<h2>Methodologies</h2>
{% for tag_name in methodologies %}
    {% include tag-entry.html tag_name=tag_name %}
{% endfor %}
