<p class="c-container-info">
    {% if post %}
        {% assign metadata = post %}
    {% else %}
        {% assign metadata = page %}
    {% endif %}
    {{ metadata.date | date_to_string }}
    {% if metadata.tags %}
        <br/>
        Tags:
        {% for tag in metadata.tags %}
            {% assign tag_config_name = tag | replace: " ", "_" %}
            {% if site.custom_methodologies contains tag_config_name %}
                {% assign tag_class_name = "c-badge-secondary" %}
            {% else %}
                {% assign tag_class_name = "c-badge-primary" %}
            {% endif %}
            <a href="{{ site.baseurl }}/tags/#{{ tag | slugize }}">
                <span class="c-badge {{ tag_class_name }}">{{ tag }}</span></a>
        {% endfor %}
    {% endif %}
</p>
