<script src="{{ "/assets/js/es5-shim.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/lunr.min.js" | relative_url }}"></script>

<script>
{% assign counter = 0 %}
{% assign site_collection = site.pages | concat: site.posts %}
var documents = [
    {% for page in site_collection %}
        {% if page.url contains '.xml' or 
            page.url == nil or 
            page.url contains 'assets' or 
            page.title == nil %}
        {% else %}{
            "id": {{ counter }},
            "url": {{ page.url | absolute_url | jsonify }},
            "title": {{ page.title | jsonify }},
            "tags": {{ page.tags | jsonify }},
            "body": {{ page.content |
                    markdownify |
                    replace: '</h1>', ': ' |
                    replace: '</h2>', ': ' |
                    replace: '</h3>', ': ' |
                    replace: '</h4>', ': ' |
                    replace: '</h5>', ': ' |
                    replace: '</h6>', ': ' |
                    replace: '</p>', ' ' |
                    replace: '.', '. ' |
                    replace: '  ', ' ' |
                    strip_html |
                    strip_newlines |
                    jsonify }}
        }{% if forloop.last %}{% else %},{% endif %}
        {% assign counter = counter | plus: 1 %}
        {% endif %}
    {% endfor %}
];

var idx = lunr(function () {
    this.ref('id')
    this.field('title')
    this.field('body')
    this.field('tags')

    documents.forEach(function (doc) {
        this.add(doc)
    }, this)
});
function lunr_search(term) {
    var term = term || document.getElementById('lunrsearch').value;
    var content = '';
    if(term) {
        content += "<p>Search results for '" + term + "':</p>";
        var results = idx.search(term);
        if(results.length > 0){
            for (var i = 0; i < results.length; i++) {
                var ref = results[i]['ref'];
                var url = documents[ref]['url'];
                var title = documents[ref]['title'];
                var body = documents[ref]['body'].substring(0,160)+'...';
                content += '<h2>' +
                    '<a href="' + url + '">' + title + '</a>' +
                    '</h2>' +
                    '<div class="entry-content">' + body + '</div>';
            }
        } else {
            content += "<p>No results found.</p>";
        }
    }
    document.getElementById('lunrsearchresults').innerHTML = content;

    return false;
}
</script>

<form onSubmit="return lunr_search();">
    <span>Enter keywords:</span>
    <p><input type="text" class="form-control" id="lunrsearch" name="q" maxlength="255" title="Search" value="" placeholder="" aria-label="Search" />&nbsp;<button class="c-btn c-btn-primary" onclick="return lunr_search();">Submit</button></p>
</form>
<div id="lunrsearchresults"></div>
