.c-badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 90%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.c-badge-big {
    font-size: 100%;
}

.c-badge-info {
    background-color: black;
    color: white;
}


/*
 * References:
 * http://colorbrewer2.org
 * https://webaim.org/resources/contrastchecker/
 */

.c-badge-nok {
    color: #fee8c8;
    background-color: #c5321b;
}

.c-badge-ok {
    color: #227c49;
    background-color: #e5f5f9;
}

.c-badge-primary,
.c-btn-primary {
    background-color: #0000EE;
    color: white;
}

.c-badge-secondary,
.c-btn-secondary {
    background-color: darkcyan;
    color: white;
}

.c-badge-primary:hover,
.c-btn-primary:hover,
.c-badge-secondary:hover,
.c-btn-secondary:hover {
    cursor: pointer;
    text-decoration: underline;
}

.c-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1;
    border-radius: .25rem;
}

.c-container-center {
    margin: 2em auto;
    max-width: 100%;
    text-align: center;
}

.c-container-center img {
    display: block;
    margin: 0 auto;
}

.c-container-center pre {
    display: block;
    margin: 0 auto;
}

@media (min-width: 480px) {
    .c-container-inline>* {
        max-width: 100%;
    }
    .c-container-inline>*:not(:last-child) {
        margin-bottom: 1rem;
    }
    .c-container-inline> :last-child {
        margin-bottom: 0;
    }
}

@media (min-width: 600px) {
    .c-container-inline>* {
        max-width: 45%;
    }
}

.c-container-inline img {
    display: inline-block;
}

.c-container-inline pre {
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.c-container-border {
    border: 12px solid white;
    border-radius: 0.25rem;
}

.c-container-info {
    color: #555;
}

.c-icon {
    display: inline-block;
    position: relative;
    top: -0.15em;
    width: 0.75em;
    height: 0.75em;
    margin-right: 0.25em;
    line-height: 1;
    vertical-align: middle;
    fill: #aaa;
}

.c-list-item {
    padding-left: 30px;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}

.c-small {
    max-width: 20em;
}

.c-indirectly-related {
    border-left: 0.5rem solid white;
    padding-left: 1rem;
    margin: 1rem 0;
}

.c-indirectly-related ol,
.c-indirectly-related ul,
.c-indirectly-related .c-list-children> :not(ol):not(ul) {
    margin-left: 15px;
}

.c-list-children> :not(ol):not(ul) {
    margin-left: 30px;
}

.c-language-tag {
    background-color: #eee;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    display: inline-block;
    margin: 0;
    /* Adapted from: pre */
    padding: 4px 12px;
}

.c-thumbnail {
    float: left;
    margin-right: 1em;
    max-width: 5rem;
    max-height: 5rem;
    border: 0.5rem solid white;
    border-radius: 0.5rem;
}

.entry-content {
    display: inline-block;
    margin-bottom: 2em;
}

table {
    margin: 15px 0;
    padding: 0;
    border-collapse: collapse;
}

table tr {
    border-top: 2px solid #ddd;
    background-color: #e8e8e8;
    margin: 0;
    padding: 0;
}

table tr th {
    font-weight: bold;
    border: 0px solid #ddd;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr td {
    border: 0px solid #ddd;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}


/* Overrides */

.archive-group {
    /* Copied from: p */
    margin-bottom: 15px;
}

.c-aside,
.footnotes {
    background-color: #ccc;
    border: 0;
    border-radius: 0.25rem;
    margin: 1.5rem 0;
    padding: 12px;
    padding-top: 28px; /* ~= 12px + 15px from `ol` */
}

.footnotes li>p {
    margin-bottom: 0;
}

a.footnote:before {
    content: "[";
}

a.footnote:after {
    content: "]";
}


/* Avoid negative spacing, it can ruin the kerning of some fonts */

blockquote {
    border-left: 0.5rem solid #ccc;
    letter-spacing: normal;
    padding: 0 1em;
}

.reversefootnote,
code {
    font-size: 90%;
}

figcaption {
    margin: 0.5em;
}

hr {
    border-top: 0.5rem dashed white;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 1.5rem 0;
}

pre {
    white-space: pre-wrap;
}

pre,
code,
.highlight {
    border: 0;
    border-radius: 0.25rem;
}

.highlight table {
    table-layout: fixed;
    width: 100%;
}

.highlight td.code,
.highlight td.gutter {
    padding: 0;
    vertical-align: top;
    white-space: pre;
}

.highlight td.gutter {
    color: #aaa;
    text-align: right;
    width: 3rem;
}

.highlight td pre {
    margin: 0;
}

.highlight td.code pre,
pre.highlight code {
    overflow-x: auto;
    white-space: pre;
}


/* Prefer consistent line heights */

sup {
    position: relative;
    top: -0.25em;
    vertical-align: top;
}


/* http://www.w3.org/TR/html5/rendering.html#phrasing-content-0 */

a:link {
    color: #0000EE;
}

a:visited {
    color: #551A8B;
}
