---
layout: default
---

<div class="home">
    {% for post in site.posts %}
        {% assign phrases = post.content |
            markdownify |
            replace: '</h1>', ': ' |
            replace: '</h2>', ': ' |
            replace: '</h3>', ': ' |
            replace: '</h4>', ': ' |
            replace: '</h5>', ': ' |
            replace: '</h6>', ': ' |
            strip_html |
            split: '.' %}
        {% assign content = phrases[0] |
            append: '.' |
            append: phrases[1] %}
        {% if content.size < 120 %}
            {% assign content = content |
                append: '.' |
                append: phrases[2] %}
        {% endif %}
        {% assign content = content | 
            append: '...' %}
        <h2 class="no-anchor">
            {% if post.title %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            {% endif %}
        </h2>
        {% include post-metadata.html %}
        <div class="entry-content">
            {% if post.thumbnail %}
                <div class="c-thumbnail-container">
                    <div class="c-thumbnail-ratio">
                        <img src="{{ site.url }}{{ site.baseurl }}{{ post.thumbnail }}" class="c-thumbnail" loading="lazy" />
                    </div>
                </div>
            {% endif %}
            {{ content }}
        </div>
    {% endfor %}
</div>
