---
layout: default
---

{% if page.title %}
    <h1 class="post-title">
        {{ page.title }}
    </h1>
{% endif %}
{% include post-metadata.html %}

{{ content }}

<div class="c-comments">
    <noscript>
      Feel free to <a href="https://github.com/nevesnunes/blog/issues">leave a comment</a>.
    </noscript>
    <script src="https://utteranc.es/client.js"
        repo="nevesnunes/blog"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
</div>

{% include footer.html %}
